* {
	margin: 0;
}
html {
	--text-color-1: rgb(43, 43, 43);
	--text-color-2: rgb(66, 66, 66);
	--color-1: rgb(231, 231, 231);
	--color-2: rgb(169, 169, 173);
	--color-3: rgba(169, 169, 173, 0.6);
}

body {
	background-color: var(--color-1);
	height: 200vh;
}
nav {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	padding: 0.6rem 1.2rem;
	color: var(--text-color-1);
	background-color: var(--color-2);
	box-shadow: 2px 1px var(--text-color-1);
}
nav ul {
	display: flex;
	align-items: center;
}
nav ul li {
	list-style: none;
}
nav ul a {
	padding: 0 0.8rem;
	text-decoration: none;
	color: var(--text-color-1);
	font-size: 1.2rem;
	font-family: "Saira", sans-serif;
	font-weight: 600;
	transition: color 0.3s;
}
nav ul a:hover {
	color: var(--text-color-2);
}

nav .logo a {
	text-decoration: none;
	font-family: "Yesteryear", cursive;
	font-size: 3rem;
	color: var(--text-color-1);
	text-shadow: 1px 1px 2px var(--text-color-1);
}

nav .logo a span {
	/* color:var(--text-color-2); */
	font-weight: bold;
}
header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto 10rem auto;
	height: 90vh;
	background-color: rgb(132, 131, 130);
	background-image: url(/img/kettlebell-gb4e2a27a5_1920.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
}

header .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 20rem;
	text-align: center;
	font-family: "Saira", sans-serif;
	background-color: var(--color-3);
	color: var(--text-color-1);
	border-radius: 8px;
	box-shadow: 1px 1px 5px var(--text-color-1);
	text-shadow: 1px 1px 1px var(--text-color-1);
}
header h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
}
header p {
	font-size: 1.2rem;
	padding:0.4rem;
}
header p:nth-child(3) {
	font-weight: 600;
}
h2{

	font-family: "Saira", sans-serif;
	color:var(--text-color-1);
	text-align:center;
	font-size: 3rem;
	margin-bottom:5rem;
	text-shadow: 1px 1px 1px var(--text-color-1);
}
.info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.card-info {
	height: 35rem;
	width: 20rem;
	margin: 3rem;
	background-color: var(--color-2);
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 2px 2px 6px var(--color-3);
	color: var(--text-color-1);
	text-align: center;
	font-family: "Saira", sans-serif;
}
.card-info .img {
	width: 100%;
	height: 50%;
	background-image: url(/img/girl-g010e7b2be_1920.jpg);
	background-size: cover;
}
.card-info:nth-child(2) .img {
	background-image: url(/img/yoga-g9099f95c7_640.jpg);
}
.card-info:nth-child(3) .img {
	background-image: url(/img/fitness-gf0ce8877f_1920.jpg);
}
.card-info h3 {
	padding: 2rem 1.5rem 0.7rem 1.5rem;
	font-size: 1.8rem;
}
.card-info p {
	letter-spacing: 1px;
	line-height: 1.5rem;
	padding: 0.8rem;
}
.card-info a{
	text-decoration: none;
	color:var(--text-color-2);
	font-weight: 600;
}
.card-info a:hover{
	color:var(--text-color-1)
}
